@use '../helpers/functions' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(8);
  font-size: rem(14);
  font-weight: 600;
  padding: rem(8) rem(24);
  border: none;
}