@use '../helpers/media' as *;
@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;

.header {
  display: flex;
  width: 100%;
  height: rem(68);
  max-width: rem(1440);
  margin: 0 auto;

  &__body {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(24);
    width: 100%;

    @include mobile {
      padding: 0 rem(10);
    }
  }

  &__logo {
    padding: 0 rem(8);
    position: relative;
    z-index: 2;
  }

  &__overlay {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      inset: 0;
      background-color: var(--color-light);
      padding: rem(10);
      row-gap: rem(30);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;

        translate: 100%;
      }
    }
  }

  &__menu {
    @include mobile-above {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }


    &-list {
      display: flex;
      gap: rem(16);

      @include tablet {
        gap: rem(5);
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
        gap: rem(20);
        overflow: auto;
      }
    }

    &-item {
      @include fluid-text(16, 14);

      padding: 0 rem(8);
      font-weight: 400;
    }
  }

  &__button {
    background-color: var(--color-accent);
    color: var(--color-light);

    @include mobile {
      width: 100%;
      max-width: rem(300);
      align-self: center;
    }
  }
}