@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;
@use "../helpers/media" as *;

.preview {
  @include flex-center;

  flex-wrap: wrap;
  gap: rem(40);

  @include mobile {
    gap: rem(20);
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: rem(290);
    gap: rem(16);
    min-height: rem(395);

    @include mobile-m {
      min-height: rem(365);
    }

    &-text {
      letter-spacing: rem(.5);
      margin-top: auto;
    }
  }
}