@use "variables" as *;
@use "helpers/mixins" as *;
@use "helpers/functions" as *;
@use "helpers/media" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  font-family: var(--f-family-base), sans-serif;
  line-height: 1.6;
}

h3, .h3,
h4, .h4 {
  font-weight: 700;
}

h3, .h3,
h4, .h4 {
  line-height: 1.4;
}


h1, .h1,
h3, .h3 {
  color: var(--color-accent);
}


h1 {
  @include fluid-text(24, 20);

  font-family: var(--f-family-logo), sans-serif;
  text-transform: uppercase;
}

h2 {
  @include fluid-text(72, 30);

  line-height: 1.1;
  font-family: var(--f-family-accent), sans-serif;
  font-weight: 400;
}

h3 {
  font-size: rem(16);
}

h4 {
  @include fluid-text(22, 16);
}

a,
button {
  transition: var(--transition-duration);
  cursor: pointer;

  @include hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
  }
}

a {
  text-decoration: none;
  color: inherit;
}