@use 'helpers/mixins' as *;
@use 'helpers/media' as *;
@use 'helpers/functions' as *;

.container {
  @include mobile {
    margin-top: rem(10);
  }

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  margin-top: rem(40);
}

.visual-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}